<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<title>성공회대학교 자리예약시스템</title>

<!-- bootstrap css -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
<link rel="stylesheet" href="/common/common.css">

<!-- bootstrap js -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
	integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
	crossorigin="anonymous"></script>
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
	integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
	crossorigin="anonymous"></script>
<style>

header {
	text-align: center;
}

div#register-form {
	border: 1px solid gray;
	border-radius: 5px;
	width: 450px;
	padding-bottom: 40px;
	margin: auto;
	margin-top: 20px;
}

div#registerContainer {
	text-align: center;
}

div.form-group {
	width: 400px;
	margin: auto;
	margin-bottom: 10px;
}

h3#register {
	margin-left: 30px;
	display:inline;
}
div#writeBoard{
	display:inline-block;
	text-align:right;
}
p.error {
	color: red;
	font-weight: bold;
	font-size: 5px;
	margin-top: 2px;
}

nav {
	text-align: center;
}
</style>

</head>
<body>
	<header th:insert="common/header.html"></header>
	<container>
	<div id=register-form>
		<div class="smallContainer">
			<br>
		
			<div id = "boardHeader">
			<h3 id="register">게시판</h3>
			<div id= "writeBoard"></div>
			<a id="writeBoard" sec:authorize="isAuthenticated()" th:href="@{/board/create}">
			<button  id="writeBoard" type="button" class="btn btn-primary">글작성</button>
			</a>
			</div>
			</div>
			<br>
			<table id="board" class="table table-hover table-condensed">
				<thead class="thead-light">
					<tr class="text-center">
						<td>글번호</td>
						<td>제목</td>
						<td>작성자</td>
						<td>작성일</td>
					</tr>
				</thead>
				<tbody>
					<tr class="text-center" th:each="board : ${boardList}">

						<td th:text="${board.id}"></td>
						  
						 <td>
						<a th:href="@{'/board/details/' + ${board.id}}" >
							<span th:text="${board.title}">제목</span>
						</a>
						</td>
						
						<td th:text="${board.user.name}">작성자</td>
						<td
							th:text="${#temporals.format(board.reportingDate, 'yy-MM-dd HH:mm')}">
							작성일</td>
					</tr>
				</tbody>
			</table>
			<div id="pagination">
				<nav>
					<ul id="pagination" class="pagination"
						th:with="start=${T(Math).floor(boardList.number/5)*5 + 1},
					last = (${start + 4 < boardList.totalPages ? start + 4 : boardList.totalPages})">

						<li><a th:href="@{/board(page=1)}" aria-label="First"> <span
								aria-hidden="true">&laquo;</span>
						</a></li>
						<li th:class="${boardList.first} ? 'disabled'"><a
							th:href="${boardList.first} ? '#' : @{/board(page=${boardList.number})}"
							aria-label="Previous"> <span aria-hidden="true">&lt;</span>
						</a></li>

						<li th:each="page : ${#numbers.sequence(start, last)}"
							th:class="${page == boardList.number + 1} ? 'active'"><a
							th:text="${page}" th:href="@{/board(page=${page})}"> </a></li>

						<li th:class="${boardList.last} ? 'disabled'"><a
							th:href="${boardList.last} ? '#' : @{/board(page=${boardList.number + 2})}"
							aria-label="Next"> <span aria-hidden="true">&gt;</span>
						</a></li>
						<li><a th:href="@{/board(page=${boardList.totalPages})}"
							aria-label="Last"> <span aria-hidden="true">&raquo;</span>
						</a></li>

					</ul>
				</nav>
			</div>		
		</div>
	</div>
	</container>
</body>
</html>