<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>성공회대학교 자리예약시스템</title>
<!-- 합쳐지고 최소화된 최신 CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
	<style>
		header {text-align:center;}
	</style>
</head>
<body>
	<header>
		<h3>성공회대학교 자리예약시스템</h3><Br>
		<div id="menu-bar">
			<a class="menu" href=#>예약 현황</a>
			<span class="vertical-line"> | </span>
			<a class="menu" href=#>테이블만들기</a>
			<span class="vertical-line"> | </span>
			<a class="menu" href=#>마이페이지</a>
			<span class="vertical-line"> | </span>
			<a class="menu" href=#>문의하기</a>
			<span class="vertical-line"> | </span>
			<a class="menu" href=#>로그인</a>
			<span class="vertical-line"> | </span>
			<a class="menu" href=#>회원가입</a>
		</div>
	</header>
	<container>
		
	</container>
</body>
</html>