<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<title>성공회대학교 자리예약시스템</title>

<!-- bootstrap css -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

<!-- bootstrap js -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
	integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
	crossorigin="anonymous"></script>
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
	integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
	crossorigin="anonymous"></script>
<style>
header {
	text-align: center;
}

div#register-form {
	border: 1px solid gray;
	border-radius: 5px;
	width: 450px;
	padding-bottom: 40px;
	margin: auto;
	margin-top: 20px;
}

div#registerContainer {
	text-align: center;
}

div.form-group {
	width: 400px;
	margin: auto;
	margin-bottom: 10px;
}

h3#register {
	margin-left: 30px;
}

p.error {
	color: red;
	font-weight: bold;
	font-size: 5px;
	margin-top: 2px;
}
</style>

</head>
<body>
	<header th:insert="common/header.html"></header>

	<container>
	<div id=register-form>
		<div class="smallContainer">
			<br>

			<h3 id="register">회원가입</h3>
			<br>
			<form th:action="@{/user/signup}" method="post"
				th:object="${userSignUp}" id="signUp">
				<div class="form-group">
					<label>아이디</label> <input th:field="*{userId}" type="text"
						class="form-control" placeholder="4~12자리의 아이디를 입력하세요.">
					<p class="error" th:if="${#fields.hasErrors('userId')}"
						th:errors="*{userId}">Id Error</p>
				</div>

				<div class="form-group">
					<label>비밀번호</label> <input th:field="*{passwd1}" type="password"
						class="form-control" placeholder="6~12자리의 비밀번호를 입력하세요">
					<p class="error" th:if="${#fields.hasErrors('passwd1')}"
						th:errors="*{passwd1}">password Error</p>
				</div>

				<div class="form-group">
					<label>비밀번호 확인</label> <input th:field="*{passwd2}" type="password"
						class="form-control" placeholder="비밀번호를 한번 더 입력하세요">
					<p class="error" th:if="${#fields.hasErrors('passwd2')}"
						th:errors="*{passwd2}">password2 Error</p>
				</div>

				<div class="form-group">
					<label>이메일</label> <input th:field="*{email}"
						placeholder="이메일을 입력하세요." type="email" class="form-control">
					<p class="error" th:if="${#fields.hasErrors('email')}"
						th:errors="*{email}">email Error</p>
				</div>

				<div class="form-group">
					<label>닉네임</label> <input th:field="*{name}" type="text"
						class="form-control" placeholder="2~30자리의 닉네임을 입력하세요.">
					<p class="error" th:if="${#fields.hasErrors('name')}"
						th:errors="*{name}">name Error</p>

				</div>

				<div id="registerContainer">
					<button type="submit" class="btn btn-primary">회원가입</button>
					<p>
						<a>아이디/비밀번호 찾기</a>
					</p>
				</div>
			</form>
		</div>
	</div>
	</container>
</body>
</html>